################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.idea
app/model/__pycache__/user.cpython-37.pyc
app/model/__pycache__/user_type.cpython-37.pyc
app/model/__pycache__/rooms.cpython-37.pyc
app/model/__pycache__/room_type.cpython-37.pyc
app/model/__pycache__/meeting.cpython-37.pyc
app/model/__pycache__/level_validation.cpython-37.pyc
app/model/__pycache__/db.cpython-37.pyc
app/controller/__pycache__/user_controller.cpython-37.pyc
app/model/__pycache__/__init__.cpython-37.pyc
app/controller/__pycache__/rooms_controller.cpython-37.pyc
app/controller/__pycache__/meeting_controller.cpython-37.pyc
app/controller/__pycache__/__init__.cpython-37.pyc
app/controller/__pycache__/level_validation_controller.cpython-37.pyc
app/config/__pycache__/dbconfig.cpython-37.pyc
app/config/__pycache__/__init__.cpython-37.pyc
app/__pycache__/views.cpython-37.pyc
app/__pycache__/__init__.cpython-37.pyc
