<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <title>AIEM's Booking System</title>
</head>
<body>
    <section style="background: #3498db; color: #fff">
        <h1> AIEM's Booking System</h1>
        <p class="center">This is our project for the Database course</p>
        <p class="center">Each character in AIEM stands for each one of our members initials</p>
        <p class="center">Armando, Ignacio, Emma, Moises</p>
        <nav class="stroke">
            <ul>
                <li><a href="/user/create-user">User Creation</a></li>
                <li><a href="#">View available rooms</a></li>
                <li><a href="#">Meeting Creation</a></li>
            </ul>
        </nav>
    </section>
</body>
</html>